label {

    color: #a94442;



}





.container {

    margin-top: 120px ;

    width: 60%;
}

.studentInformation {


    padding: 10px;
    border: solid gray 3px;
    margin-bottom: 10px ;

}

.resultInformation{

    margin-top: 10 px;
    padding: 10px;
    border: solid gray 3px;
    margin-bottom: 10px ;

}